In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("employee_promotion.csv")

In [9]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  awards_won            54808 non-null  int64
 11  avg_training_score    52248 non-null  float64
 12  is_promoted           54808 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 5.4+ MB

In [17]:
df.tail()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,0,79.0,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,NaN,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,49.0,0

In [27]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
54803    False
54804    False
54805    False
54806    False
54807    False
Length: 54808, dtype: bool

df['New Column']

In [55]:
df.column = ['column 1','column 2','column 3']

In [59]:
df.count()

employee_id             54808
department              54808
region                  54808
education               52399
gender                  54808
recruitment_channel     54808
no_of_trainings         54808
age                     54808
previous_year_rating    50684
length_of_service       54808
awards_won              54808
avg_training_score      52248
is_promoted             54808
dtype: int64

In [ ]:
s.add(3)

In [ ]:
s.sub(2)

In [ ]:
s.mul(4)

In [ ]:
s.div(6)

In [ ]:
df.min()

In [ ]:
df.max()

In [77]:
df.rank()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,45806.0,39250.5,51312.0,44937.0,8156.5,43198.5,22189.5,32828.0,44814.0,42659.0,26769.5,7266.0,25070.5
1,45594.0,17019.5,29340.5,18335.0,35560.5,15223.5,22189.5,16286.0,44814.0,21682.5,26769.5,26265.0,25070.5
2,5248.0,39250.5,12085.5,18335.0,35560.5,43198.5,22189.5,29934.5,19757.5,38442.0,26769.5,9964.5,25070.5
3,1773.0,39250.5,33142.0,18335.0,35560.5,15223.5,48372.0,41636.0,3112.0,47826.0,26769.5,9964.5,25070.5
4,34271.0,51239.5,36186.5,18335.0,35560.5,15223.5,22189.5,48803.5,19757.5,7889.5,26769.5,37321.0,25070.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,2112.0,51239.5,6135.0,18335.0,35560.5,43198.5,22189.5,50716.0,19757.5,53225.5,26769.5,40098.0,25070.5
54804,52192.0,17019.5,38146.0,44937.0,8156.5,15223.5,22189.5,37783.0,8336.0,33299.5,26769.5,19253.5,25070.5
54805,9696.0,2676.5,305.5,18335.0,35560.5,15223.5,22189.5,6488.0,44814.0,14748.0,26769.5,41144.5,25070.5
54806,9476.0,39250.5,54598.5,NaN,35560.5,43198.5,22189.5,12751.0,3112.0,7889.5,26769.5,NaN,25070.5
54807,36063.0,9097.5,29340.5,18335.0,35560.5,15223.5,22189.5,6488.0,3112.0,28016.5,26769.5,7266.0,25070.5

In [81]:
df.index

RangeIndex(start=0, stop=54808, step=1)

In [83]:
df = pd.DataFrame( 
     [[1, 2, 3], 
     [4, 6, 8],
     [10, 11, 12]],
     index=[4, 6, 8], 
     columns=['a', 'b', 'c'])

In [98]:
pd.DataFrame.add

In [100]:
pd.DataFrame.sub

In [102]:
pd.DataFrame.mul

In [104]:
pd.DataFrame.div